.about
  @include mb
  &__head
    margin-bottom: 10px
  &__info
    display: flex
    align-items: flex-end
  &__img
    width: 400px
    height: 570px
    flex-shrink: 0
    margin-right: 20px
  &__descr
    position: relative
    font-weight: 400
    width: 362px
    flex-shrink: 0
    margin-right: 59px

  &__text
    height: 99px
    // для плавного появления всего тееста
    -webkit-line-clamp: 4
    display: -webkit-box
    -webkit-box-orient: vertical
    // конец
    overflow: hidden
    margin-bottom: 20px
    transition: height 0.3s linear
  &__opened
    // height: auto
    // overflow: auto
    margin-bottom: 0
  &__more
    font-weight: 700
    text-transform: uppercase
    position: relative
    &::before
      transition: background 0.3s linear
      position: absolute
      content: ''
      bottom: -3px
      left: 0
      height: 2px
      width: 100%
      background-color: $text
  &__slider
    position: relative
    height: 285px
    margin-left: 20px
    &::before
      position: absolute
      content: ''
      bottom: 0px
      left: -20px
      height: 285px
      width: 2px
      background-color: $text
  &__slide
    display: flex
    flex-direction: column
    align-items: flex-start
    &-head
      font-family: 'Montserrat'
      @include font(700, 20, 24)
      text-transform: none
      margin-bottom: 20px
      width: 250px
    p
      // @include font(500, 20, 24)
      width: 242px
      flex-shrink: 0
  &__btn
    position: absolute
    // top: 50%
    // transform: translateY(-50%)
    bottom: 0
    left: 0
    // height: 42px
    // width: 21px
    cursor: pointer
    z-index: 12
    &-prev
      left: 300px
    &-fill
      width: 21px
      height: 42px
      fill: $text
      object-fit: cover
      transition: stroke 0.3s linear
      stroke: $text
      stroke-width: 5
    &-next
      left: 370px
      bottom: 4px
      transform: rotate(180deg)
