.component
  margin-bottom: 200px
  &__container
    display: flex
    align-items: flex-start
  &__left
    flex-shrink: 0
    width: 400px
  &__head
    margin-bottom: 50px
  &__btn
    display: inline-block
    text-transform: uppercase
    @include font(700, 20, 24)
    color: $bgc
  &__right
    margin-left: 20px
    border-left: 2px solid $text
    padding-left: 20px
    display: flex
    align-items: flex-start
  &__list
    width: 388px
    flex-shrink: 0
    margin-right: 10px
    counter-reset: section
  &__item
    position: relative
    &::before
      position: absolute
      left: 10px
      top: 17px
      font-family: "Moula"
      @include font(700, 28, 28)
      color: $white
      counter-increment: section
      content: counter(section)
    &:not(:last-child)
      margin-bottom: 63px
  &__icon
    width: 38px
    height: 50px
    margin-bottom: 5px
  &__text
    // @include font(500, 20, 24)
  &__img
    width: 400px
    height: 530px
