.footer
  padding-top: 50px
  padding-bottom: 60px
  background: linear-gradient(112.75deg, #333333 1.07%, #181818 100%)
  &__top
    display: flex
    align-items: flex-start
    margin-bottom: 70px
  &__logo
    width: 174px
    height: 65px
    margin-right: 246px
  &__menu
    margin-right: 173px
  &__services
    width: 22%
  &__head
    position: relative
    display: inline-block
    margin-bottom: 10px
    color: $bgc
    @include font(700, 36, 39)
    text-transform: none
    &::before
      position: absolute
      content: ''
      bottom: -2px
      left: 0
      width: 100%
      height: 1px
      background: $green
  &__item
    margin-bottom: 3px
    font-weight: 400
    color: $bgc
  &__bottom
    display: flex
    align-items: flex-end
    justify-content: flex-end
  &__contact
    border-bottom: 1px solid transparent
    color: $bgc
    font-weight: 700
    transition: border 0.3s linear
  &__phone
    margin-right: 79px
  &__email
    margin-right: 155px
  &__soc-list
    position: relative
    display: flex
    align-items: center
    justify-content: flex-start
    &::before
      position: absolute
      content: ''
      bottom: -7px
      left: 0
      height: 1px
      width: 150px
      background-color: $bgc
  &__soc-item
    &:not(:last-child)
      margin-right: 30px
  &__svg
    width: 30px
    height: 30px
    fill: $bgc
    transition: all 0.3s linear
    &.messenger
      stroke: $bgc
      stroke-width: 1
