.header
  padding-top: 38px
  padding-bottom: 13px
  &__container
    display: flex
    align-items: flex-end
    justify-content: space-between
  &__logo
    margin-right: 50px
    width: 40px
    height: 49px
  &__menu
    @include fl-all
  &__phone
    margin-left: 50px
    margin-right: 50px !important
  &__ru
    position: relative
    margin-left: 0px
    margin-right: 19px !important
    &::before
      position: absolute
      content: ' / '
      top: 0
      right: -5px
      color: $black
      font-weight: 300
    &.active
      color: $green
      font-weight: 700
  &__ro
    &.active
      color: $green
      font-weight: 700
