.hygiene
  @include mb
  &__container
    display: flex
    align-items: flex-start
  &__img
    flex-shrink: 0
    margin-right: 96px
    width: 400px
    height: 530px
  &__head
    position: relative
    margin-bottom: 40px
    &::before
      position: absolute
      content: ''
      bottom: -18px
      left: 0
      height: 2px
      width: 100%
      background-color: $text
  &__info
    p
      &:not(:last-child)
        margin-bottom: 30px
