html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Moula";
  src: url("../fonts/Moula-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Moula";
  src: url("../fonts/Moula-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Moula";
  src: url("../fonts/Moula-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.heading {
  font-family: "Moula", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.0833333333;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F6F6;
  color: #333333;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.logo--header {
  height: 50px;
}

.heading {
  text-transform: uppercase;
  color: #000000;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  background: #425337;
  border-radius: 30px;
  padding: 18px 66px;
  color: #F6F6F6;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  font-weight: 700;
  text-transform: uppercase;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 140px 30px 50px 50px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
  }
}
.menu__body._active {
  right: 0;
}
.menu__body._active::before {
  right: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #333333;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.menu__item:not(:last-child) {
  margin-right: 30px;
}
.menu__item::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #425337;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .menu__item {
    color: #F6F6F6;
    font-size: 22px;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 22px;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    width: 32px;
    height: 29px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 5;
  }
}
.menu__icon span {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}
.menu__icon._active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.menu__icon._active span:first-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu__icon._active span:last-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header {
  padding-top: 38px;
  padding-bottom: 13px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  margin-right: 50px;
  width: 40px;
  height: 49px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__phone {
  margin-left: 50px;
  margin-right: 50px !important;
}
.header__ru {
  position: relative;
  margin-left: 0px;
  margin-right: 19px !important;
}
.header__ru::before {
  position: absolute;
  content: " / ";
  top: 0;
  right: -5px;
  color: #000000;
  font-weight: 300;
}
.header__ru.active {
  color: #425337;
  font-weight: 700;
}
.header__ro.active {
  color: #425337;
  font-weight: 700;
}

.mainvideo {
  position: relative;
  height: 700px;
  margin-bottom: 200px;
}
.mainvideo__container {
  position: relative;
}
.mainvideo__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 700px;
  padding-left: 44px;
  z-index: 10;
}
.mainvideo__descr {
  width: 580px;
  margin-top: 160px;
  color: #FFFFFF;
}
.mainvideo__descr span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-right: 150px;
}
.mainvideo__head {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 70px;
  line-height: 1.0857142857;
  color: #F6F6F6;
  text-transform: none;
}
.mainvideo__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.mainvideo__list::before {
  position: absolute;
  content: "";
  bottom: -7px;
  left: 0;
  height: 1px;
  width: 150px;
  background-color: #F6F6F6;
}
.mainvideo__item:not(:last-child) {
  margin-right: 30px;
}
.mainvideo__svg {
  width: 30px;
  height: 30px;
  fill: #F6F6F6;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mainvideo__svg.messenger {
  stroke: #F6F6F6;
  stroke-width: 1;
}
.mainvideo__clip {
  position: absolute;
  top: 0;
  left: 15px;
  height: 700px;
  width: calc(100% - 30px);
}
.mainvideo__clip::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(246, 246, 246, 0)));
  background: -o-linear-gradient(left, #000000 0%, rgba(246, 246, 246, 0) 100%);
  background: linear-gradient(90deg, #000000 0%, rgba(246, 246, 246, 0) 100%);
  opacity: 0.6;
  z-index: 2;
}
.mainvideo__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.about {
  margin-bottom: 200px;
}
.about__head {
  margin-bottom: 10px;
}
.about__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.about__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 400px;
  height: 570px;
  margin-right: 20px;
}
.about__descr {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 362px;
  margin-right: 59px;
  font-weight: 400;
}
.about__text {
  height: 99px;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-transition: height 0.3s linear;
  -o-transition: height 0.3s linear;
  transition: height 0.3s linear;
}
.about__opened {
  margin-bottom: 0;
}
.about__more {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
}
.about__more::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333333;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.about__slider {
  position: relative;
  height: 285px;
  margin-left: 20px;
}
.about__slider::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: -20px;
  height: 285px;
  width: 2px;
  background-color: #333333;
  z-index: 1;
}
.about__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 2;
}
.about__slide-head {
  width: 250px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: none;
}
.about__slide p {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 242px;
}
.about__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 42px;
  width: 21px;
  z-index: 12;
  cursor: pointer;
}
.about__btn-prev {
  right: 50px;
}
.about__btn-fill {
  width: 21px;
  height: 42px;
  fill: #333333;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: stroke 0.3s linear;
  -o-transition: stroke 0.3s linear;
  transition: stroke 0.3s linear;
  stroke: #333333;
  stroke-width: 5;
}
.about__btn-next {
  bottom: 4px;
  -webkit-transform: rotate(180deg) translateY(-4px);
  -ms-transform: rotate(180deg) translateY(-4px);
  transform: rotate(180deg) translateY(-4px);
}
.about__slider-arr {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 46px;
  width: 100%;
}

.prices {
  margin-bottom: 200px;
}
.prices__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.prices__left {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 400px;
}
.prices__head {
  margin-bottom: 50px;
}
.prices__btn {
  display: inline-block;
}
.prices__right {
  margin-left: 20px;
}
.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #333333;
}
.prices__item:first-child {
  border-top: 2px solid #333333;
}
.prices__service {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 252px;
  margin-right: 23px;
}
.prices__service-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.process {
  margin-bottom: 300px;
}
.process__head {
  margin-bottom: 25px;
}
.process__slider {
  position: relative;
  height: 700px;
}
.process__slide {
  height: 700px;
}
.process__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 12;
}
.process__btn-prev {
  left: 60px;
}
.process__btn-fill {
  width: 21px;
  height: 42px;
  fill: #333333;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: stroke 0.3s linear;
  -o-transition: stroke 0.3s linear;
  transition: stroke 0.3s linear;
  stroke: #333333;
  stroke-width: 5;
}
.process__btn-next {
  right: 60px;
  -webkit-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
}
.process__list {
  display: none;
}

.component {
  margin-bottom: 200px;
}
.component__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.component__left {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 400px;
}
.component__head {
  margin-bottom: 50px;
}
.component__btn {
  display: inline-block;
}
.component__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #333333;
}
.component__list {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 388px;
  margin-right: 10px;
  counter-reset: section;
}
.component__item {
  position: relative;
}
.component__item::before {
  position: absolute;
  content: counter(section);
  left: 10px;
  top: 16px;
  width: 17px;
  font-family: "Moula";
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  counter-increment: section;
  z-index: 3;
}
.component__item:not(:last-child) {
  margin-bottom: 63px;
}
.component__icon {
  width: 38px;
  height: 50px;
  margin-bottom: 5px;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.component__icon.element-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.component__img {
  width: 400px;
  height: 530px;
}

.discount {
  height: 500px;
  margin-bottom: 200px;
  padding-top: 65px;
  background-color: #000000;
  background-image: url(../images/discount.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.discount__text {
  font-family: "Moula";
  font-weight: 700;
  font-size: 128px;
  line-height: 1.078125;
}
.discount__text span {
  color: #F6F6F6;
}
.discount__btn {
  display: inline-block;
  padding: 18px 35px;
  -webkit-transform: translate(704px, -90px);
  -ms-transform: translate(704px, -90px);
  transform: translate(704px, -90px);
  text-transform: none;
}
.discount__btn-ro {
  -webkit-transform: translate(784px, -90px);
  -ms-transform: translate(784px, -90px);
  transform: translate(784px, -90px);
}

.hygiene {
  margin-bottom: 200px;
}
.hygiene__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.hygiene__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 96px;
  width: 400px;
  height: 530px;
}
.hygiene__head {
  position: relative;
  margin-bottom: 40px;
}
.hygiene__head::before {
  position: absolute;
  content: "";
  bottom: -18px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333333;
}
.hygiene__info p:not(:last-child) {
  margin-bottom: 30px;
}

.contact {
  margin-bottom: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: -o-linear-gradient(337.25deg, #333333 1.07%, #181818 100%);
  background: linear-gradient(112.75deg, #333333 1.07%, #181818 100%);
}
.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.contact__head {
  width: 331px;
  margin-right: 65px;
  color: #F6F6F6;
}
.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #F6F6F6;
  border-bottom: 2px solid #F6F6F6;
}
.contact__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
}
.contact__item:not(:last-child) {
  margin-right: 272px;
}
.contact__item::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: url("../images/icons/sprite.svg#circle");
  background-repeat: no-repeat;
  background-size: contain;
}
.contact__link {
  position: relative;
  padding: 25px;
  z-index: 2;
  -webkit-transition: padding 0.3s linear;
  -o-transition: padding 0.3s linear;
  transition: padding 0.3s linear;
}
.contact__svg {
  width: 50px;
  height: 50px;
}

.faq {
  margin-bottom: 200px;
}
.faq__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.faq__head {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 400px;
}

.accordeon {
  width: 100%;
}
.accordeon__item {
  overflow: hidden;
  padding: 18px 20px;
  border-bottom: 2px solid #333333;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.accordeon__item:first-child {
  border-top: 2px solid #333333;
}
.accordeon__name {
  position: relative;
  padding-right: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  cursor: pointer;
}
.accordeon__name::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 24px;
  background: url(../images/icons/sprite.svg#arrow-faq) no-repeat center center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.accordeon__content {
  margin: 0;
  max-height: 0;
  color: #000000;
  font-weight: 400;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.active .accordeon__content {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  padding-top: 36px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.active .accordeon__name::before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.footer {
  padding-top: 50px;
  padding-bottom: 60px;
  background: -o-linear-gradient(337.25deg, #333333 1.07%, #181818 100%);
  background: linear-gradient(112.75deg, #333333 1.07%, #181818 100%);
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 70px;
}
.footer__logo {
  width: 174px;
  height: 65px;
  margin-right: 246px;
}
.footer__menu {
  margin-right: 173px;
}
.footer__services {
  width: 22%;
}
.footer__head {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  color: #F6F6F6;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.0833333333;
  text-transform: none;
}
.footer__head::before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #425337;
}
.footer__item {
  margin-bottom: 3px;
  font-weight: 400;
  color: #F6F6F6;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.footer__contact {
  border-bottom: 1px solid transparent;
  color: #F6F6F6;
  font-weight: 700;
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.footer__phone {
  margin-right: 79px;
}
.footer__email {
  margin-right: 155px;
}
.footer__soc-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.footer__soc-list::before {
  position: absolute;
  content: "";
  bottom: -7px;
  left: 0;
  height: 1px;
  width: 150px;
  background-color: #F6F6F6;
}
.footer__soc-item:not(:last-child) {
  margin-right: 30px;
}
.footer__svg {
  width: 30px;
  height: 30px;
  fill: #F6F6F6;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer__svg.messenger {
  stroke: #F6F6F6;
  stroke-width: 1;
}

@media (min-width: 992px) {
  .btn:hover {
    background: #5F6F56;
  }
  .header__ru:hover::before {
    width: 0% !important;
    height: 0px;
  }
  .header__ro:hover::before {
    width: 0% !important;
    height: 0px;
  }
  .menu__item:hover::before {
    width: 100%;
  }
  .mainvideo__svg:hover {
    fill: #425337;
  }
  .mainvideo__svg:hover.messenger {
    stroke: #425337;
  }
  .about__more:hover::before {
    background-color: #425337;
  }
  .about__btn-fill:hover {
    stroke: #425337;
  }
  .process__btn-fill:hover {
    stroke: #425337;
  }
  .contact__link:hover {
    padding: 21px;
  }
  .footer__contact:hover {
    border-bottom: 1px solid #425337;
  }
  .footer__svg:hover {
    fill: #425337;
  }
  .footer__svg:hover.messenger {
    stroke: #425337;
  }
}
@media (max-width: 1270px) {
  .component__list {
    width: 304px;
  }
  .contact__item:not(:last-child) {
    margin-right: 227px;
  }
  .footer__top,
.footer__bottom {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer__logo {
    margin-right: 169px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .footer__menu,
.footer__services,
.footer__phone,
.footer__soc-list {
    width: 33%;
    margin-right: 0;
  }
  .footer__email {
    margin-right: 78px;
  }
}
@media (max-width: 1200px) {
  .header__sec {
    margin-top: 7px;
  }
  .about__descr {
    width: 314px;
    margin-right: 25px;
  }
  .about__descr::before {
    right: -25px;
  }
  .contact__item:not(:last-child) {
    margin-right: 175px;
  }
  .discount__btn-ro {
    -webkit-transform: translate(304px, -90px);
    -ms-transform: translate(304px, -90px);
    transform: translate(304px, -90px);
  }
}
@media (max-width: 1100px) {
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .about__info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about__slider {
    margin-top: 20px;
  }
  .contact__item:not(:last-child) {
    margin-right: 133px;
  }
}
@media (max-width: 992px) {
  .menu__item:not(:last-child) {
    margin-right: 24px;
  }
  .about__descr {
    width: 312px;
    margin-right: 5px;
  }
  .prices__left {
    width: 300px;
  }
  .prices__service {
    width: 147px;
  }
  .prices__service-title {
    word-wrap: break-word;
  }
  .component__left {
    width: 300px;
  }
  .component__img {
    display: none;
  }
  .discount__text {
    font-size: 98px;
  }
  .discount__btn {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-top: 20px;
  }
  .hygiene__img {
    margin-right: 35px;
  }
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact__head {
    margin-bottom: 30px;
  }
  .contact__list {
    width: 100%;
  }
  .contact__item:not(:last-child) {
    margin-right: 0;
  }
  .faq__head {
    width: 300px;
    margin-right: 35px;
  }
  .footer__logo {
    margin-right: 25px;
  }
  .footer__email {
    margin-right: 35px;
  }
}
@media (max-width: 768px) {
  body {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
  }
  body._lock {
    overflow: hidden;
  }
  .container {
    padding: 0 30px;
  }
  .heading {
    font-weight: 700;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__list {
    margin-bottom: 40px;
  }
  .header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: transparent;
  }
  .header__logo {
    width: 30px;
    height: 37px;
    z-index: 15;
  }
  .header__phone {
    margin-left: 0;
    margin-right: 0 !important;
    margin-bottom: 40px !important;
    font-weight: 700;
    font-size: 28px;
  }
  .header__ru {
    margin-right: 0 !important;
  }
  .header__ru::before {
    content: none;
  }
  .mainvideo {
    height: 500px;
    margin-top: -100px;
  }
  .mainvideo__container {
    padding: 0;
  }
  .mainvideo__info {
    height: 500px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 30px;
  }
  .mainvideo__descr {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .mainvideo__descr span {
    width: 327px;
  }
  .mainvideo__head {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.08;
    margin-bottom: 0;
  }
  .mainvideo__list {
    display: none;
    overflow: hidden;
    height: 0;
    width: 0;
  }
  .mainvideo__clip {
    width: 100%;
    height: 500px;
    left: 0;
  }
  .mainvideo,
.about,
.prices,
.process,
.component,
.discount,
.hygiene,
.contact,
.faq {
    margin-bottom: 40px;
  }
  .about__info {
    position: relative;
  }
  .about__img {
    width: calc(100vw - 60px);
    height: 80vh;
  }
  .about__descr {
    position: absolute;
    top: 20%;
    left: 30px;
    color: #F6F6F6;
  }
  .about__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    height: 88px;
  }
  .about__more {
    color: #F6F6F6;
  }
  .about__more::before {
    background-color: #F6F6F6;
  }
  .prices__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .prices__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .prices__head {
    margin-bottom: 0;
  }
  .prices__service {
    width: auto;
    margin-bottom: 10px;
  }
  .prices__item:first-child {
    border-top: none;
  }
  .prices__item:last-child {
    border-bottom: none;
  }
  .prices__btn {
    margin: 0 auto;
  }
  .process__container {
    padding: 0;
  }
  .process__head {
    padding-left: 30px;
  }
  .process__slider,
.process__slide {
    height: auto;
  }
  .process__btn {
    top: 22vh;
  }
  .process__img {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 45vh;
    margin-bottom: 20px;
  }
  .process__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 30px;
    padding-right: 30px;
  }
  .process__item {
    position: relative;
    padding-left: 45px;
  }
  .process__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #425337;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .process__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .component__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .component__left {
    width: 100%;
  }
  .component__btn {
    display: none;
    overflow: hidden;
    height: 0;
    width: 0;
  }
  .component__right {
    margin-left: 0;
    width: 100%;
    position: relative;
    border-left: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 30px;
  }
  .component__list {
    width: 100%;
  }
  .component__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .component__icon {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .component__item::before {
    color: #333333;
  }
  .component__text {
    color: #F6F6F6;
    font-size: 20px;
  }
  .discount {
    height: auto;
    padding-bottom: 68px;
  }
  .discount__text {
    font-size: 70px;
    line-height: 75px;
  }
  .hygiene__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hygiene__img {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-bottom: 20px;
  }
  .hygiene__info {
    padding-bottom: 20px;
    border-bottom: 1px solid #333333;
  }
  .hygiene__head {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #F6F6F6;
  }
  .hygiene__head::before {
    content: none;
  }
  .contact {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact__head {
    width: 100%;
  }
  .faq__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .faq__head {
    margin-bottom: 20px;
  }
  .accordeon {
    padding-left: 20px;
  }
  .accordeon__item {
    padding: 18px 20px 18px 0;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__menu,
.footer__services,
.footer__phone,
.footer__soc-list {
    width: 100%;
  }
  .footer__item {
    font-size: 20px;
  }
  .footer__menu {
    margin-bottom: 40px;
  }
  .footer__email {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .footer__phone {
    margin-bottom: 40px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .about__img {
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
  .mainvideo__info {
    padding-left: 0;
  }
  .mainvideo__descr {
    width: 80%;
  }
  .about__descr {
    left: 15px;
    width: 80%;
  }
  .about__img {
    height: 70vh;
  }
  .prices__right {
    margin-left: 7px;
  }
  .prices__item {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .process__head {
    padding-left: 15px;
  }
  .process__container {
    padding: 0;
  }
  .process__img {
    height: 270px;
  }
  .process__btn {
    top: 130px;
  }
  .process__btn-prev {
    left: 20px;
  }
  .process__btn-next {
    right: 20px;
  }
  .component__list {
    margin-right: 0;
  }
  .component__right {
    padding: 15px;
  }
  .discount__text {
    font-size: 50px;
    line-height: 54px;
  }
  .hygiene__img {
    height: 70vh;
  }
  .contact__item {
    width: 95px;
    height: 95px;
  }
  .accordeon {
    padding-left: 7px;
  }
  .accordeon__item {
    padding: 10px 15px 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */
